@font-face{
    font-family: comic sans ms;
    font-style: normal;
    font-weight: 400;
    src:local('Comic Sans MS'),local('ComicSansMS-Regular'),url(comicsans.ttf) format('truetype');
}

body {
    background: #87ceeb;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: "Comic Sans MS";
}

a,
a:visited {
    color: #000;
}

a:hover {
    text-decoration: none;
}

object[name="frame"] {
    width: 85vw;
    height: calc(100vh - 10vh - 40px);
    float: right;
    margin-top: 10vh;
    border: 0;
}

nav {
    width: calc(15vw - 22px);
    margin-top: calc(15vh - 10px);
    padding: 10px;
    position: absolute;
}

header {
    position: absolute;
    padding: 10px;
    margin-top: -10px;
    background: #fff;
    width: 100vw;
}

#heaven {
    padding-top: 60px;
    background: url(clouds.jpg);
}

#enter {
    background: #fff;
    color: #000;
    width: 300px;
    padding: 30px;
    font-size: 18pt;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    border: 3px solid #000;
    display: block;
    margin: 0 auto;
    margin-top: 120px;
}

header > a, h1, h2, h3, h4 {
    color: #000 !important;
    text-decoration: none !important;
}

#heaven-intro {
    background: transparent;
    padding-left: 20px;
}

#player {
    position: absolute;
    margin-left: 85vw;
    margin-top: 25px;
    z-index: 1;
}

footer {
    height: 36px;
    width: 100vw;
    background: #fff;
    color: #000;
    padding-left: 10px;
    padding-bottom: 20px;
    margin-top: calc(100vh - 56px);
    position: absolute;
}