---
import Layout from "../layouts/page.astro";

const getAge = birthDate => Math.floor((new Date() - new Date(birthDate).getTime()) / 3.15576e+10);
const age = getAge("1999-04-15");
---


<Layout title="About me" description="Here are a few quick facts about me...">
  Here are a few quick facts about me

  <img alt="Here's a picture of me" src="/me.png" height="250" style="float:right;margin-top:0 !important;" />

  <ul>
    <li>Is {age} years old</li>
    <li>Likes computers and anything above</li>
    <li>Can read out Brathering without pronouncing it in English</li>
    <li>Speaks German and English fluently and can read and understand romanic languages like Spanish, French or Italian</li>
    <li>Can walk for a couple of hours without being exhausted</li>
    <li>Listens to any music style</li>
    <li>My brain might crash randomly, because it runs Windows. Sad.</li>
    <li>Can program in the devil&#8217;s programming language: JavaScript</li>
  </ul>

  <br>
</Layout>