---
import Layout from '../layouts/page.astro';
import { getCollection } from "astro:content";
const allPosts = await getCollection("posts", ({ data }) => {
    return data.draft !== true;
  });
allPosts.sort((a, b) => Date.parse(b.data.pubDate.toISOString()) - Date.parse(a.data.pubDate.toISOString()));
const introText = "Hi, I’m koyu (usually called Leonie in real life) and I am a programmer and sysadmin located in Northern Germany establishing internet services for you and your friends. I’m your average socialist computer nerd trying to liberate the cyberspace and meatspace for everyone. Thanks for stopping by and have a great time.";
---

<Layout title="koyu's personal website" description={introText}>
    <img src="/avatar.png" alt="Avatar" height="120" style="float:right;padding:10px" class="avatar" />

    <p>{introText}</p>

    <br>
    <h2>Articles</h2>
    <ul class="articles">
        {allPosts.map((post) => <li><span class="date">{post.data.pubDate.toISOString().split('T')[0]}</span> <a href={`/posts/${post.slug}/`}>{post.data.title}</a></li>)}
    </ul>
</Layout>
