---
import Layout from "../layouts/page.astro";
---

<Layout title="Portfolio">
    <h2 id="working">Working</h2>
    <ul>
        <li><a href="https://koyu.space" target="_blank">koyu.space</a> -- Social network based on Mastodon</li>
        <li><a href="https://github.com/koyuspace/wintools" target="_blank">Wintools</a> -- Windows 10 un-crap tool</li>
        <li><a href="https://gemproxy.koyu.space/koyu.space/koyu/" target="_blank">GemProxy</a> - Yet another Gemini proxy service</li>
        <li><a href="https://github.com/koyuawsmbrtn/bbz-cloud" target="_blank">BBZ Cloud</a> - An All-In-One electron app for school-related services</li>
    </ul>
    <h2 id="past">Past</h2>
    <ul>
        <li><a href="https://github.com/koyuspace/wpup" target="_blank">wpup</a> -- WordPress mass upgrading tool</li>
        <li><a href="https://fossil.koyu.space" target="_blank">Fossil</a> -- Gemini client written in Vala and GTK</li>
        <li><a href="https://github.com/koyuspace/kimchi" target="_blank">Kimchi</a> - Server management tool written in Vue and Express</li>
        <li><a href="https://github.com/koyuspace/e43" target="_blank">E43</a> - Telegram bot with various functions</li>
    </ul>
</Layout>