---
import { Icon } from 'astro-icon'
---

<footer>
    <br><br>
    <hr>
    <p><img alt="CC BY-SA" style="border-width:0;margin-right:4px;vertical-align:top" class="except" src="/cc-by-sa.png"></p>
    <div style="font-size:10pt;line-height:1.2;margin-top:1em">
    Made in <Icon name="openmoji:flag-germany" class="emoji" /><br>
    Proudly powered by
    <a href="https://astro.build" target="_blank">Astro</a>
    and
    <a href="https://afri.de" target="_blank">Afri Cola</a>.
    </div>
</footer>
