---
const year = new Date().getFullYear();
---
<footer>
    <br>
    <hr>
    <br>
    <div style="font-size:10pt;line-height:1.2;margin-top:1em">
    Proudly powered by
    <a href="https://astro.build" target="_blank">Astro</a>,
    <a href="https://netlify.com" target="_blank">Netlify</a>
    and
    <a href="https://afri.de" target="_blank">Afri Cola</a>.
    <br>
    <p>Made in Germany</p>
    <span class="copyleft">&copy;</span> koyu {year}<br>Licensed under CC-BY-SA 4.0
    <!--
    ** We'll figure this out eventually. For now these are placeholders. **
    <br><a href="https://spatialwebdesign.com/imprint">Imprint</a> | <a href="/privacy">Privacy policy</a>
    -->
    </div>
</footer>
