<footer>
    <br><br>
    <hr>
    <div style="font-size:10pt;line-height:1.2;margin-top:1em">
    Proudly powered by
    <a href="https://astro.build" target="_blank">Astro</a>,
    <a href="https://netlify.com" target="_blank">Netlify</a>
    and
    <a href="https://afri.de" target="_blank">Afri Cola</a>.
    <br>
    <p>Content licensed under a CC-BY-SA 4.0 license.</p>
    <p>Design by <a href="https://spatialwebdesign.com" target="_blank">Spatial Webdesign</a></p>
    <p>Made in Germany</p>
    </div>
</footer>
