---
import menu from "../json/menu.json";
---

<nav>
    <ul class="menu">
        {menu.map((item) => (
            <li><a href={`/${item.page}`}>{item.name}</a></li>
        ))}
    </ul>
    <hr>
</nav>