---
import Info from "./info.astro";
---

<div class="midsize">
    <Info>
        Alternatively you can also send me a message through Signal, give me a call or send a SMS:
        <b><span id="c9d8b79e20037756832ee5db5b642bae"><i>Please enable JavaScript to view the phone number</i></span></b>
    </Info>
</div>

<script is:inline>
    var _0x2d007f=_0x4442;(function(_0x4081f1,_0x15f294){var _0x229978=_0x4442,_0x3c174c=_0x4081f1();while(!![]){try{var _0x29791f=-parseInt(_0x229978(0x178))/0x1+parseInt(_0x229978(0x170))/0x2*(-parseInt(_0x229978(0x177))/0x3)+parseInt(_0x229978(0x174))/0x4+parseInt(_0x229978(0x176))/0x5+parseInt(_0x229978(0x17a))/0x6+parseInt(_0x229978(0x179))/0x7+-parseInt(_0x229978(0x175))/0x8;if(_0x29791f===_0x15f294)break;else _0x3c174c['push'](_0x3c174c['shift']());}catch(_0x413ba0){_0x3c174c['push'](_0x3c174c['shift']());}}}(_0x3262,0xa9b1b),document[_0x2d007f(0x171)](_0x2d007f(0x173))[_0x2d007f(0x172)]=_0x2d007f(0x16f));function _0x4442(_0x31bc53,_0x4a5df9){var _0x3262ca=_0x3262();return _0x4442=function(_0x44423d,_0x4d46ef){_0x44423d=_0x44423d-0x16f;var _0x11d864=_0x3262ca[_0x44423d];return _0x11d864;},_0x4442(_0x31bc53,_0x4a5df9);}function _0x3262(){var _0x48b889=['getElementById','innerHTML','c9d8b79e20037756832ee5db5b642bae','5281116Estylz','11479328EMITix','608155faFrjU','42222uMTfmy','849585oqlSZT','5811624tGFCbm','6440100vwSIER','+4915207412666','52XFUMtp'];_0x3262=function(){return _0x48b889;};return _0x3262();}
</script>