---
import { Icon } from 'astro-icon';
import social from "../json/social.json";
---

<div id="socialbuttons">
  {social.map((e) => (
    <a href={e.url} class="social" target="_blank" rel="noopener"><Icon pack={e.icon.style} name={e.icon.name} /></a>
  ))}
</div>

<style>
    .fa-matrix-org,
    .fa-xmpp,
    .fa-peertube {
      font-family: ForkAwesome !important;
    }
</style>