<link rel="me" href="https://koyu.space/@koyuchan">
<link rel="stylesheet" href="/custom.css">
<link rel="shortcut icon" href="/favicon.ico">
<script src="https://kit.fontawesome.com/8b5d897402.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.1.7/css/fork-awesome.min.css" integrity="sha256-gsmEoJAws/Kd3CjuOQzLie5Q3yshhvmo7YNtBG7aaEY=" crossorigin="anonymous">
<script src="https://twemoji.maxcdn.com/v/13.1.0/twemoji.min.js" integrity="sha384-gPMUf7aEYa6qc3MgqTrigJqf4gzeO6v11iPCKv+AP2S4iWRWCoWyiR+Z7rWHM/hU" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script>
    $(document).ready(function() {
        $("body").html(twemoji.parse($("body").html(), {folder: "svg", ext: ".svg"}));
        $("body").html($("body").html().replaceAll("href=\"https://", "target=\"_blank\" href=\"https://"));
    });
</script>