<link rel="me" href="https://koyu.space/@koyuchan">
<link rel="stylesheet" href="/custom.css">
<link rel="shortcut icon" href="/favicon.ico">
<script type="text/javascript" src="https://kit.fontawesome.com/8b5d897402.js" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://twemoji.maxcdn.com/v/13.1.0/twemoji.min.js" integrity="sha384-gPMUf7aEYa6qc3MgqTrigJqf4gzeO6v11iPCKv+AP2S4iWRWCoWyiR+Z7rWHM/hU" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script type="text/javascript" src="/app.js"></script>
