@import url('https://fonts.googleapis.com/css2?family=Oswald');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans');

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #000;
    color: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    margin: 0;
    margin-top: 20px;
}
hr {
    margin: 0;
}
.article-meta,
.menu a,
blockquote {
    background: transparent;
}
a,
a:visited {
    color: #fbbd1a;
}
footer {
    line-height: 1;
}
.fa-rss {
    color: orange;
}
img:not(.emoji, .except) {
    border-radius: 5px;
    margin: 5px;
}
.social {
    font-size: 24pt;
    margin-right: 4px;
}
.emoji {
    width: 15px;
    height: 15px;
}
.title {
    line-height: 1.1;
}
.menu li {
    padding: 2px;
}
thead, tfoot, tr:nth-child(even) {
    background: transparent;
}
code {
    background: #666;
    padding: 3px;
}
pre {
    box-shadow: none;
}
#nowplaying .fa {
    font-size: 6pt;
    padding-right: 4px;
    vertical-align: middle;
}
.date {
    font-size: 10pt;
    vertical-align: top;
    padding-top: 5px;
}
.articles > li > a,
.menu > li > a {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}
.articles > li,
.articles {
    list-style: none;
    padding: 0;
}
.emoji[alt="🇩🇪"] {
    vertical-align: bottom;
}
@media(max-width:800px) {
    #nowplaying {
        display: none;
    }
}

.button,
button {
    background: #fbbd1a !important;
    color: #000 !important;
    border: 0;
    padding: 10px;
    text-decoration: none;
    border-radius: 4px;
}

.mastodon-comment {
    background: #222;
    padding: 10px;
    margin: 10px;
    display: inline-flex;
    border-radius: 10px;
}

.mastodon-comment .date {
    display: none;
}

.disabled,
.mention {
    display: none;
}

.mastodon-comment .avatar {
    margin: 10px;
}

.mastodon-comment .author {
    text-align: left;
    margin-top: 12px;
}

.mastodon-comment .author a {
    text-decoration: none !important;
}

.article-content {
    margin-top: 60px;
    background: #333;
    padding: 20px;
    border-radius: 10px;
}

@media(min-width:800px) {
    .mastodon-comment {
        width: 95%;
    }
}
