@import url('https://fonts.googleapis.com/css2?family=Oswald');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans');

body {
    font-family: 'Open Sans', sans-serif;
    background: url(/rlbunnylook_yellow.png)#000;
    background-size: 300px;
    background-repeat: no-repeat;
    background-position: bottom left;
    background-attachment: fixed;
    color: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    margin: 0;
    margin-top: 20px;
}
hr {
    margin: 0;
}
.article-meta,
.menu a,
blockquote {
    background: transparent;
}
a,
a:visited {
    color: #fbbd1a;
}
footer {
    line-height: 1;
}
.fa-rss {
    color: orange;
}
img:not(.emoji, .except) {
    border-radius: 5px;
    margin: 5px;
}
.avatar {
    border-radius: 50% !important;
}
.social {
    font-size: 24pt;
    margin-right: 4px;
}
.emoji {
    width: 15px;
    height: 15px;
}
.title {
    line-height: 1.1;
}
.menu li {
    padding: 2px;
}
thead, tfoot, tr:nth-child(even) {
    background: transparent;
}
code {
    background: #666;
    padding: 3px;
}
pre {
    box-shadow: none;
}
#nowplaying {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 10pt;
}
#nowplaying .fa {
    font-size: 6pt;
    padding-right: 4px;
    vertical-align: middle;
}
.date {
    font-size: 10pt;
    vertical-align: top;
    padding-top: 5px;
}
.articles > li > a,
.menu > li > a {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}
.articles > li,
.articles {
    list-style: none;
    padding: 0;
}
@media(max-width:800px) {
    #nowplaying {
        display: none;
    }
}