* {
    box-sizing: border-box;
}

#flex {
    display: flex;
}

aside {
    background-color: #222;
    width: 200px;
    padding: 20px;
    font-size: smaller;
}

main {
    background-color: rgba(10, 10, 10, 0.98);
    backdrop-filter: blur(10px);
    flex: 1;
    padding: 32px;
    order: 2;
}

.more-posts {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.breadcrumbs,
.breadcrumbs a {
    font-weight: normal !important;
    font-size: 11pt !important;
    color: #888 !important;
    text-decoration: none;
    margin-bottom: 20px;
}

.size-4 {
    width: 16px;
    height: 16px;
}

.right {
    float: right;
    padding: 20px;
    padding-left: 48px;
}

.right img {
    border-radius: 4px;
    height: 300px;
}

@media only screen and (max-width: 800px) {
    #flex {
        flex-wrap: wrap;
    }

    aside {
        width: 100%;
    }

    main {
        order: 1;
    }

    #navbar ul {
        flex-wrap: wrap;
    }
}