@import "variables";

body {
    font-family: $font-body;
    background-color: $background;
    color: $foreground;
    max-width: 800px;
    margin: auto;
    padding: 1em;
    line-height: 1.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-heading;
    font-weight: 600;
    margin: 0;
    margin-top: 20px;
}

hr {
    margin: 0;
}

.article-meta,
.menu a,
blockquote {
    background: transparent;
}

a,
a:visited {
    color: $accent;
}

footer {
    line-height: 1;
}

code {
    padding: 3px;
}

pre {
    box-shadow: none;
}

hr {
    border-style: dashed;
    color: $border;
}

pre {
    padding: 1em;
    overflow-x: auto;
}

blockquote {
    border-left: 5px solid $border-quote;
    padding: 3px 1em 3px;
}

pre {
    background: $code-background !important;
    border-radius: 4px;
}

.title {
    line-height: 1.1;
}

.title {
    font-size: 1.1em;
}

.article-content {
    margin-top: 60px;
    background: $content;
    padding: 20px;
    border-radius: 10px;
}

.section {
    background: $content;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

@media(min-width:800px) {
    .section {
        width: 50%;
        margin: 0 auto;
    }
}

.article-meta {
    margin-top: 10px;
}

footer a {
    text-decoration: none;
}

.turbolinks-progress-bar {
    background-color: #fbbd1a;
}

.banner {
    text-align: center;
    font-family: Oswald, sans-serif;
    margin-bottom: 40px;
}

.hwspace {
    margin-inline: 28px;
    margin-top: -24px;
}

.copyleft {
    display: inline-block;
    transform: rotate(180deg);
}

iframe {
    border-radius: 5px;
}

@media(min-width:800px) {
    .halfsize {
        width: 50%;
        margin: 0 auto;
    }

    .midsize {
        width: 70%;
        margin: 0 auto;
    }
}
