.info {
    background-color: #4ea7f0;
    border-color: #4ea7f0;
    color: #fff;
    padding: 20px;
    color: #000;
    border-radius: 10px;
}

.info a {
    color: #000 !important;
}

.info svg {
    height: 24px;
    vertical-align: middle;
    margin-right: 8px;
    margin-top: -2px;
}