.notification {
    text-decoration: none;
    position: relative;
    display: inline-block;
}

.notification .badge {
    display: none;
    font-size: 10pt;
    position: absolute;
    top: 6px;
    right: -18px;
    width: 22px;
    height: 0px;
    padding: 2px;
    padding-bottom: 25px;
    border-radius: 50%;
    background: red;
    color: white;
    text-align: center;
}