table { 
    width: 100%;
    border-collapse: collapse;
}

td, th { 
    padding: 6px;
    text-align: left;
}

@media (max-width: 760px),
(min-device-width: 768px)
and (max-device-width: 1024px)  {
	table, thead, tbody, th, td, tr { 
		display: block; 
	}

    thead, th {
        display: none;
    }

    tr {
        border-bottom: 1px solid $border;
    }
	
    thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	td {
		position: relative;
	}
	
	td:before { 
		position: absolute;
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
}