.warning {
    background-color: #f0ad4e;
    border-color: #eea236;
    color: #fff;
    padding: 20px;
    color: #000;
    border-radius: 10px;
}

.warning a {
    color: #000 !important;
}

.warning svg {
    height: 24px;
    vertical-align: middle;
    margin-right: 8px;
    margin-top: -2px;
}