---
let title = "koyu's personal website"
if (Astro.props.title !== undefined) {
    title = title+" | "+Astro.props.title;
}

import "../scss/index.scss";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="me" href="https://koyu.space/@koyu">
        <link rel="me" href="https://qoto.org/@koyu">
        <link rel="shortcut icon" href="/favicon.ico">
        <title>{title}</title>
    </head>
    <body>
        <main>
            <slot/>
        </main>
    </body>
</html>
