---
let title = "koyu's personal website";
if (Astro.props.title !== undefined) {
    title = title+" | "+Astro.props.title;
}

import { SEO } from "astro-seo";
import "../scss/index.scss";
---

<html lang="en">
    <head>
        <SEO
        charset="utf-8"
        description={Astro.props.description}
        openGraph={{
            basic: {
                title: title,
                type: "website",
                image: "https://web.koyu.space/avatar.png"
            },
            image: {
                alt: "koyu's personal website"
            }
        }}
        extend={{
        link: [
            { rel: "shortcut icon", href: "/favicon.ico" },
            { rel: "me", href: "https://koyu.space/@koyu" },
            { rel: "me", href: "https://qoto.org/@koyu" },
        ],
        meta: [
            {
            name: "twitter:image",
            content: "https://web.koyu.space/avatar.png",
            },
            { name: "twitter:title", content: title },
            { name: "twitter:description", content: Astro.props.description },
            { name: "viewport", content: "width=device-width" },
        ],
        }} />
        <script src="../ts/twemoji.ts"></script>
        <title>{title}</title>
    </head>
    <body>
        <main>
            <slot/>
        </main>
    </body>
</html>
