---
let title = "koyu's personal website"
if (Astro.props.title !== undefined) {
    title = title+" | "+Astro.props.title;
}
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
        <link rel="me" href="https://koyu.space/@koyuchan">
        <link rel="me" href="https://qoto.org/@koyu">
        <link rel="stylesheet" href="/style.css">
        <link rel="shortcut icon" href="/favicon.ico">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.2.0/css/fork-awesome.min.css" integrity="sha256-XoaMnoYC5TH6/+ihMEnospgm0J1PM/nioxbOUdnM8HY=" crossorigin="anonymous">
        <script src="https://kit.fontawesome.com/8b5d897402.js" crossorigin="anonymous"></script>
        <script src="../scripts/emoji.ts"></script>
		<title>{title}</title>
	</head>
	<body>
        <main>
            <slot/>
        </main>
	</body>
</html>
