---
import Navigation from "../components/navigation.astro";
import Banner from "../components/banner.astro";
import Layout from "../layouts/base.astro";
import Footer from "../components/footer.astro";
import Social from "../components/social.astro";
let description: string = "";
let title = Astro.props.title;
try {
	if (Astro.slots.has('default')) {
  		description = await Astro.slots.render("default");
	}
	description = description.match(/<p>(.*?)<\/p>/)[1];
	if (description.length > 252) {
		description = description.substring(0,252)+"...";
	}
} catch (err) {
	description = title;
}
---
<Layout description={description}>
	<Navigation />
	<div class="article-meta">
		<Banner />
		<h1>koyu's personal website</h1>
	</div>
	<br>
	<slot />
	<br><br>
	<Social />
	<br>
	<Footer />
</Layout>