---
import Navigation from "../components/navigation.astro";
import Layout from "../layouts/base.astro";
import Footer from "../components/footer.astro";
let title = Astro.props.title;
if (title === undefined) {
	title = Astro.props.content.title;
}
---
<Layout title={title}>
	<Navigation />
	<div class="article-meta">
		<h1>{title}</h1>
	</div>
	<br>
	<slot />
	<Footer />
</Layout>