---
import Navigation from "../components/navigation.astro";
import Layout from "../layouts/base.astro";
import Footer from "../components/footer.astro";
let description: string = "";
let title = "";
if (Astro.props.title === undefined) {
	title = Astro.props.frontmatter.title;
} else {
	title = Astro.props.title;
}
description = title;
try {
	if (Astro.props.frontmatter.description !== undefined) {
		description = Astro.props.frontmatter.description;
	}
} catch (e) {}
try {
	if (Astro.props.description !== undefined) {
		description = Astro.props.description;
	}
} catch (e) {}
---
<Layout title={title} description={description}>
	<Navigation />
	<div class="article-meta">
		<h1>{title}</h1>
	</div>
	<br>
	<slot />
	<Footer />
</Layout>